extends ../layout

block content

  .container
      .row
        .col-md-3
          ul#contact-list.list-group
        .col-md-9
          .panel.panel-primary
            #accordion.panel-heading
              span.glyphicon.glyphicon-comment
              |  Chat
            #chat-body.panel-collapse.collapse.collapse.in
              .panel-body
                #messages
              #chat.panel-footer
                form#form-chat
                  input#input-message.form-control.input-sm(type='text',
                  placeholder='Type your message here...',
                  data-name="#{user.name}", data-profile="#{user.profile_picture}")
